body {
    background-color: lightgray;
}
h1{
     color: black;
}

/*Nav bar*/

.nav-item{
    margin-left: 45%;
}
.nav-link{
    font-size: 150%;
}

/*image*/
#img{
    height: 150px;
    margin-left: 43%;
}