body {
    background-color: lightgray;
}
h1{
     color: black;
}

/*Nav bar*/

.nav-item{
    margin-left: 8%;
}
.nav-link{
    font-size: 150%;
    width: 160px;
}

/*image*/
#header{
    background-color: black;
}
#img_mur{
height: 180px;
}
#titre{
    height: 165.5px;
}

#img{
    height: 180px;
}
@media only screen and (max-width: 769px) {
    #img_mur{
        height: 110px;
    }
    #titre{
        height: 108.6px;
    }

    #img{
        height: 110px;
    }
}



/*slider*/
.slideshow {
    width: 1100px;
    height: 400px;
    overflow: hidden;
    border: 3px solid #F2F2F2;
    margin-top: 5%;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 700px;
    padding:0; margin:0;
    list-style: none;
}
.slideshow li {
    float: left;
}

@media only screen and (max-width: 769px) {
    .container{margin-left: 3%}
    .slideshow{width: 900px}
    .img_slider{width: 450px}
}
/*Footer*/

.footer{
    background-color: red;
    margin-top: 5%;
}
.col-md-4 {
    margin-left: 5%;
}
#img_fb{
    margin-left: 18%;
}

/*page sponsor*/
#sponsor{
    margin-left: 20%;
}
.row{
    margin-left: 10%;
}
