body {
    background-color: lightgray;
}
h1{
     color: black;
}
.container{
    margin-top: 2%;
    margin-left: 10%;
}
/*Nav bar*/

.nav-item{
    margin-left: 8%;
}
.nav-link{
    font-size: 150%;
    width: 160px;
}

/*image*/
#header{
    background-color: black;
}
#img_mur{
height: 180px;
}
#img{
    height: 180px;

}

#titre{
    height: 172.6px;
}

/*slider*/
.slideshow {
    width: 1200px;
    height: 400px;
    overflow: hidden;
    border: 3px solid #F2F2F2;
    margin-top: 5%;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 700px;
    padding:0; margin:0;
    list-style: none;
}
.slideshow li {
    float: left;
}
/*Footer*/

.footer{
    background-color: red;
    margin-top: 5%;
}
.col-md-4 {
    margin-left: 5%;
}