body {
    background-color: lightgray;
}
h1{
     color: black;
}
#img_mur{
    width: 100%;
}

/*Nav bar*/
.nav-item{
    margin-left: 27%;
}
.nav-link{
    font-size: 150%;
    width: 200%;
}

@media screen and (max-width: 1400px){
    .nav-item { margin-left: 10% !important;}
}
/*image*/
#header{
    background-color: black;
}

/*slider*/

.slideshow {
    width: 1100px;
    height: 400px;
    overflow: hidden;
    border: 3px solid #F2F2F2;
    margin-top: 5%;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 700px;
    padding:0; margin:0;
    list-style: none;
}
.slideshow li {
    float: left;
}

@media screen and (max-width: 900px) {
    .container{margin-left: 1.5%}
    .slideshow{width: 400px}
    .img_slider{width: 450px}
}

@media only screen and (max-width: 769px) {
    .container{margin-left: 3%}
    .slideshow{width: 900px}
    .img_slider{width: 450px}
}

/*Footer*/
.footer{
    background-color: red;
    margin-top: 3%;
}
.col-md-4 {
    margin-left: 5%;
}
#img_fb{
    margin-left: 10%;
}
.col-md-3.mt-md-0.mt-2 {
    margin-left: 4%;
}
/*page sponsor*/
#sponsor{
    margin-left: 20%;
}
.row{
    margin-left: 10%;
}

.img_sponsor{
    width: 20%;
    height: 300px;
    margin-left: 2%;
    margin-top: 3%;
}


@media screen and (max-width: 640px) {
    body {
        background-color:red;
    }
}