{% extends 'base.html.twig.' %}
{% block body %}
    <h1 style="text-align: center">Réservation de la cancha</h1>
    <div id="calendar"></div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                eventSources: [
                    {
                        url: '{{ path('events', {'type': 'cancha'}) }}',
                        type: 'GET'
                    }
                ]
            });
        })
    </script>
{% endblock %}