{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connexion</title>
</head>

<body>
<div><h1>Se connecter</h1></div>
<form method="post">

    <?php
                if (isset($er_mail)){
            ?>
    <div><?= $er_mail ?></div>
    <?php
                }
            ?>

    <input type="email" placeholder="Adresse mail" name="mail" value="<?php if(isset($mail)){ echo $mail; }?>" required>

    <?php
                if (isset($er_mdp)){
            ?>
    <div><?= $er_mdp ?></div>
    <?php
                }
            ?>

    <input type="password" placeholder="Mot de passe" name="mdp" value="<?php if(isset($mdp)){ echo $mdp; }?>" required>

    <button type="submit" name="connexion">Se connecter</button>

</form>
</body>
{% endblock %}
</html>
