{% extends 'base.html.twig' %}
{% block body %}
    <div id="coordonées">
        <p>Coordonées :</p>
        <p>Association du pilotari gujannais</p>
        <p>60 allée Edouard Branly</p>
        <p>33470 Gujan-Mestras</p>
        <p>TEL : 05 56 66 79 92</p>
        <p>@ : TOTO@hotmail.fr</p>
    </div>
{% endblock %}