{% extends 'base.html.twig' %}
{% block body %}
    <div class="slideshow">
        <ul>
            <li><img class="img_slider" src="./img/logo_gujan.jpg" alt="" width="547" height="400" /></li>
            <li><img class="img_slider" src="./img/téléchargement (1).jpg" alt="" width="547" height="400" /></li>
            <li><img class="img_slider" src="./img/téléchargement (2).jpg" alt="" width="547" height="400" /></li>
            <li><img class="img_slider" src="./img/téléchargement.jpg" alt="" width="547" height="400" /></li>

            <li><img class="img_slider" src="./img/0fd71d8e37afe224e7f1dc3c191be033.jpg" alt="" width="547" height="400" /></li>
            <li><img class="img_slider" src="./img/images (1).jpg" alt="" width="547" height="400" /></li>
            <li><img class="img_slider" src="./img/images (2).jpg" alt="" width="547" height="400" /></li>
            <li><img class="img_slider" src="./img/images (3).jpg" alt="" width="547" height="400" /></li>

            <li><img class="img_slider" src="./img/images.jpg" alt="" width="547" height="400" /></li>
            <li><img class="img_slider" src="./img/téléchargement (3).jpg" alt="" width="547" height="400" /></li>
            <li><img class="img_slider" src="./img/téléchargement (4).jpg" alt="" width="547" height="400" /></li>
            <li><img class="img_slider" src="./img/téléchargement (5).jpg" alt="" width="547" height="400" /></li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(function(){
            setInterval(function(){
                $(".slideshow ul").animate({marginLeft:-547},3000,function(){
                    $(this).css({marginLeft:0}).find("li:last").after($(this).find("li:first"));
                })
            }, 5500);
        });
    </script>
{% endblock %}