{% extends 'base.html.twig' %}
{% block body %}
    <div id="sponsor">
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/70278197-sponsor-de-laurier-icône-d-affaires.jpg"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/images (1).png"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/images (2).png"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/images.png"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/téléchargement (1).png"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/téléchargement (6).jpg"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/téléchargement (7).jpg"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/téléchargement (8).jpg"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/téléchargement (9).jpg"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/téléchargement (10).jpg"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/téléchargement (11).jpg"></a>
        <a href="#" ><img class="img_sponsor" src="../img/sponsor/téléchargement.png"></a>
    </div>
{% endblock %}