body {
    background-color: lightgray;
}
h1{
     color: black;
}
#img_mur{
    width: 100%;
}

/*Nav bar*/
.nav-item{
    margin-left: 17%;
}
.nav-link{
    font-size: 150%;
    width: 200%;
}
/*responsive de la navbar*/
@media screen and (max-width: 1430px){
    .nav-item { margin-left: 15%;}
}
@media screen and (max-width: 1360px){
    .nav-item { margin-left: 13.5%;}
}
@media screen and (max-width: 1300px){
    .nav-item { margin-left: 12%;}
}
@media screen and (max-width: 1260px){
    .nav-item { margin-left: 11%;}
}
@media screen and (max-width: 1200px) {
    .nav-item {margin-left: 10%;}
}
@media screen and (max-width: 1160px) {
    .nav-item {margin-left: 9%;}
}
@media screen and (max-width: 1100px) {
    .nav-item {margin-left: 8%;}
}
@media screen and (max-width: 1060px) {
    .nav-item {margin-left: 7%;}
}
@media screen and (max-width: 1030px) {
    .nav-item {margin-left: 6%;}
}
/*fin navbar*/

/*image*/
#header{
    background-color: black;
}

/*slider*/

.slideshow {
    width: 1100px;
    height: 400px;
    overflow: hidden;
    border: 3px solid #F2F2F2;
    margin-top: 5%;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 700px;
    padding:0; margin:0;
    list-style: none;
}

.slideshow li {
    float: left;
}


@media only screen and (max-width: 1170px) {
    .slideshow {
        visibility: hidden;
    }
    #normal{
        display: none;
    }
}
@media only screen and (min-width: 1170px){
    .image_club{
        visibility: hidden;
    }
    #responsive{
        display: none;
    }
}

@media only screen and (max-width: 1170px){
    .img_slider_responsive{
        margin-left: 33%;
        margin-top: 10%;
    }
    #image_club li{
        list-style: none;
        width: 40%;
        display: inline-block;
    }


}
@media only screen and (max-width: 1170px){
    .img_slider_responsive{
        margin-left: 33%;
        margin-top: 10%;
    }
    #image_club li{
        list-style: none;
        width: 40%;
        display: inline-block;
    }
}

@media only screen and (max-width: 992px){
    .img_slider_responsive{
        margin-left: 30%;
        margin-top: 10%;
    }
    #image_club li{
        list-style: none;
        width: 40%;
        display: inline-block;
    }
    .img_slider_responsive{
        width: 250px;
        height: 250px;
    }

/*Footer*/
.footer{
    background-color: red;
    margin-top: 3%;
}
.col-md-4 {
    margin-left: 5%;
}
#img_fb{
    margin-left: 10%;
}
.col-md-3.mt-md-0.mt-2 {
    margin-left: 4%;
}
/*page sponsor*/
#sponsor{
    margin-left: 20%;
}
.row{
    margin-left: 10%;
}

.img_sponsor{
    width: 20%;
    height: 300px;
    margin-left: 2%;
    margin-top: 3%;
}


