<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pilotari de Gujan-Mestras{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet" />
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div id="header">
    <img id="img_mur" src="../img/image_joueurs_de_pelote.jpg">
    <img id="titre" src="../img/titre.png">
    <img id="img" src="../img/logo.jpg">
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/competition">Compétition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sponsor">Sponsor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newsletter">Newsletter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inscription">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacter">Nous Contacter</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>

<div class="footer">
    {% block footer %}
        <div class="footer">
            <!-- Footer -->
            <footer class="page-footer font-small blue pt-4">

                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-4 mt-md-0 mt-3">

                            <!-- Content -->
                            <h5 class="text-uppercase">Adresse :</h5>
                            <p>60 Allée Edouard Branly</p><p>33470 Gujan-Mestras</p>

                        </div>
                        <!-- Grid column -->

                        <hr class="clearfix w-100 d-md-none pb-3">

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">

                            <!-- Links -->
                            <h5 class="text-uppercase">Nous contacter avec :</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Link 1</a>
                                </li>
                                <li>
                                    <a href="#!">Link 2</a>
                                </li>
                                <li>
                                    <a href="#!">Link 3</a>
                                </li>
                                <li>
                                    <a href="#!">Link 4</a>
                                </li>
                            </ul>

                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">

                            <!-- Links -->
                            <h5 class="text-uppercase">MAil : florian.borie@ynov.com</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <p>TEL : 05 56 66 79 92</p>
                                </li>
                            </ul>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Footer Links -->

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2018 Copyright
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
        </div>{% endblock %}
</div>

{% block javascripts %}{% endblock %}

</body>
</html>
